* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 16px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,232,51,1) 0%, rgba(250,196,59,1) 100.2% );
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 540px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

header>img {
    width: 35%;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.panel {
    padding: 16px;
    border-radius: 16px;
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
}

input {
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
    border: none;
    flex-grow: 1;
    /* prende tutto lo spazio */
    /* margin-right: 5px; */
}

button {
    cursor: pointer;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,232,51,1) 0%, rgba(250,196,59,1) 100.2% );
    background-repeat: repeat;
}

.add-todo {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.empty-list-message {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.todo-item {
    list-style-type: none;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 16px 0;
    border-radius: 16px;
}

/* Colore di sfondo più scuro al passaggio del mouse */
.todo-item:hover {
    background: #ddd;
}

.todo-text {
    padding: 16px;
    text-transform: uppercase;
}

.todo-check {
    padding: 16px;
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    border-radius: 16px 0 0 16px;
    color: white;
}

/* Quando viene cliccato, aggiunge un colore di sfondo e barra il testo */
.todo-item.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    .add-todo .panel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    input {
        width: 100%;
        flex-grow: 1;
    }
}